html{
    height:100%;
}

body{
    height:100vh;
}

p{
    margin:1vh 0vh;
    font-family:Helvetica;
    color:#595959;
    line-height:3vh;
}
.mainContainer{
    display:flex;
    flex-direction: column;
    height:100%;
    position:fixed;
    top:0px;
}

.animationContainer{
    width:"640";
     height:"500";
     position: absolute; 
     background-color:rgba(247, 247, 247, 1.00); 
}

.header{
    margin:0;
}

.paraContainer{
    flex:1;
    overflow: scroll;
}

.para{
    /* margin:1vh 2vh 0 1vh; */
    /* padding: 0 0 0 1vh; */
    margin: 2vh 2vh 0 2vh;
}

.lastPara{
    min-height: 100%;
}

.ringkasanLogo{
    background-color: #e1e0e0;
    color:#757575;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: normal;
    margin:0;
    padding:10px;
    font-size:5vw;
    /* border-top:solid #ea5547 2vh;
    border-bottom:solid #ea5547 1vh; */
    text-align:center;

    /* margin:10px; */
}

h1.ringkasanLogo{
    padding:1.2vh;
    margin:0;
    font-weight: bolder;
}

.active{
    border-left:solid #ea5547 1vh;
    padding: 0 0 0 1vh; 

    /* margin:0 2vh 0 0vh; */
}